.navText{
    color: white !important;
}

.contenido{
    margin-top: 100px !important;
    padding: 20px;
}

.componenteEntregables{
    background-color: thistle;
}

#tituloTablaEstudiantes{
    background-color: rgb(34, 34, 34);
    color: white;
}

#tituloTablaEstudiantes th{
    padding: 10px;
}

#tableInfoEstudiantes tr th{
    padding-right: 120px;
}
.btnEliminar a{
    border-radius: 15px !important;
    color: white !important;
    text-decoration: none !important;
}

.containerForm{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    background-image: url("../assets/img/FondoLogin.jpg");
}

.formLogin{
    font-weight: bold;
    background: linear-gradient(45deg, rgba(1,6,175,1) 0%, rgba(255,91,0,1) 100%);
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    width: 350px;
    height: 400px;

}
.formLogin div{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputLogin{
    border-radius: 5px;
    border: 1px solid rebeccapurple;
    width: 90%;
}