<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'AppCoder/css/derickStyle.css'%}" rel="stylesheet"/>
    <link href="{% static 'AppCoder/css/bootstrap.min.css'%}" rel="stylesheet"/>
    <title>Login Coder House</title>
</head>
<body>
    <div class="containerForm"> 
        <form action="" method="POST" class="formLogin"> {% csrf_token %}
            <h3 style="color: white; font-weight:bold; margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">LOGIN CODER HOUSE</h3>
            <div>
                <input name="user" type="text" placeholder="User" class="inputLogin">
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" class="inputLogin">
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            {% if error %}
                <p style="color: red;">{{error}}</p>
            {% endif %}
            <p style="color: white;">Aun no tienes una cuenta? <a href="/AppCoder/registro">Registrate</a></p>
        </form>
    </div>
</body>
</html>